# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
venv/
.venv/
*-venv/

# Data Lake outputs (keep structure via .gitkeep)
data/**/*
!data/**/.gitkeep

# Logs
logs/**/*
!logs/**/.gitkeep

# OS / IDE
.DS_Store
.vscode/

# sensitive information
.env
.envProject/
__pycache__/
*.pyc
.vscode/
